:root{
    --colNum:5;
}
#board-container{
    display:grid;
    /* grid-auto-flow: column; */
    grid-template-rows: repeat(auto-fill, 40px);
    /* grid-template-columns: repeat(auto-fill, 100px); */
    grid-template-columns: repeat(auto-fill, calc(100vw/var(--colNum)));

    grid-auto-columns: 100px;
    grid-auto-rows:  40px;
    /* width:calc(100px*var(--colNum)); */
    width:100vw;
    
}

#players-container{
 display:flex;
    justify-content: space-between;
}

#button-container{
    height:30px;
    display:grid;
    grid-template-columns: 1.5fr 1.5fr 7fr;

}

#rows{
    grid-column: 1/1;
}

#cols{
    grid-column: 2/2;
}

#start{
    grid-column: 3/3;
    background-color: green;
}


.player1-text{
    color:blue;
}

.player2-text{
    color:red;
}

.player1{
    background-color:blue;
}

.player2{
    background-color:red;
}
.cell{
    /* width:10vw; */
    height:40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    background-color: #CD6133;
}

.coin{
    height:15px;
    width:15px;
    border-radius: 50px;
    background-color: gold;   
}

.player{
    height:25px;
    width:25px;
    border-radius: 50px;
}
